h1 {
    text-align: center;
    color: rgb(231, 15, 105);
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4e46be;
  }

  .container {
    display: flex;
  }
  
  .sidebar {
    width: 25%;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .sidebar h2 {
    margin-top: 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
.container {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #4e46be;
  color: white;
  padding: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.sidebar a:hover {
  color: #ff4500;
}

.main-content {
  flex: 1;
  padding: 20px;
}


